:root {
    --navColor: #333;
    --fontNavColor: #fff;
    --fontConentColor: #999;
    --accentColor: #e7723c;
    --accentColorLight: #ffbc9d;
    --backgroundColor: #262626;
    --footerColor: #1a1a1a;
    --font: 'Roboto', sans-serif;
    --fontNav: 'Quicksand', sans-serif;
    --fontFooter: 'Inconsolata', monospace;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--fontConentColor);
    background-color: var(--backgroundColor);
    margin: 0;
}

/* navbar styles */
.navbar {
    background-color: var(--navColor); 
    font-family: var(--fontNav);
    opacity: 0.95;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
}

.logo {
    position: absolute;
    height: 95%;
    width: auto;
    user-select: none;
    left: 20px;
}

.logo-mobile {
    display: none;
}

.hamburger {
  display: none;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-item a {
    text-decoration: none;
    color: var(--fontNavColor);
    padding: 10px;
    font-size: 24px;
}

.menu-item a:hover {
    color: var(--accentColor);
}

.menu-item a:active {
    color: var(--fontConentColor);
}

.nav-highlight a {
    color: var(--accentColor);
    border-bottom: 1px solid var(--accentColor);
}
/*  end of navbar styles */

/* home page main content styles */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
  min-height: calc(100vh - 50px);
  padding-top: 80px;
}

.hero-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.hero-image-home {
  background-image: url("../images/bg-hero.png");
  background-position: center top;
  padding-top: 50px;
  overflow: hidden;

}

.home-section-one {
    height: 80vh;
    transition: all 0.5s ease;
    background: inherit;
    background-attachment: fixed;
}

.home-section-one p {
    font-size: 40px;
    font-weight: bold;
    transition: all 0.5s ease;
    color: var(--accentColorLight);
    text-shadow: 2px 2px 4px #262626;
}

/* Credit for https://css-tricks.com/design-considerations-text-images/ */
.home-section-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index: 0;
}
/* End of credits */

.text {
    margin: 0;
    position: relative;
}

.home-section-two {
    background-color: var(--navColor);
    z-index: 1;
}

.wow-logo {
    max-width: 70%;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;
}

/* Credits code https://codepen.io/JacobStone420/pen/dyEvl*/
.Iam {
    text-align: center;
    margin: 3em 0;
    font: normal 40px/50px 'Roboto', sans-serif;
    color: var(--fontConentColor);
}
.Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
}
.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
}
.Iam .innerIam {
    display: inline-block;
    color: #e7723c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    /*animation*/
    -webkit-animation:move 10s;
        -moz-animation:move 10s;
        -ms-animation:move 10s;
        -o-animation:move 10s;
            animation:move 10s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
    /*animation-delay*/
    -webkit-animation-delay:1s;
        -moz-animation-delay:1s;
        -ms-animation-delay:1s;
        -o-animation-delay:1s;
            animation-delay:1s;
    }
    @keyframes move{
    0%  { top: 0px; }
    12.5% { top: -50px; }
    25% { top: -100px; }
    37.5% { top: -150px; }
    50% { top: -200px; }
    62.5% { top: -250px; }
    75% { top: -300px; }
    87.5% { top: -350px; }
    }

    @-webkit-keyframes move {
    0%  { top: 0px; }
    12.5% { top: -50px; }
    25% { top: -100px; }
    37.5% { top: -150px; }
    50% { top: -200px; }
    62.5% { top: -250px; }
    75% { top: -300px; }
    87.5% { top: -350px; }
    }
    @-moz-keyframes move {
    0%  { top: 0px; }
    12.5% { top: -50px; }
    25% { top: -100px; }
    37.5% { top: -150px; }
    50% { top: -200px; }
    62.5% { top: -250px; }
    75% { top: -300px; }
    87.5% { top: -350px; }
    }
    @-o-keyframes move {
    0%  { top: 0px; }
    12.5% { top: -50px; }
    25% { top: -100px; }
    37.5% { top: -150px; }
    50% { top: -200px; }
    62.5% { top: -250px; }
    75% { top: -300px; }
    87.5% { top: -350px; }
    }
    @keyframes move {
    0%  { top: 0px; }
    12.5% { top: -50px; }
    25% { top: -100px; }
    37.5% { top: -150px; }
    50% { top: -200px; }
    62.5% { top: -250px; }
    75% { top: -300px; }
    87.5% { top: -350px; }
}
/* End of credits */

/* end of home page main styles */

/* Compositions page styles */
.main-content-comps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-comps {
  font-size: 40px;
  font-weight: bold;
  transition: all 0.5s ease;
  color: var(--accentColorLight);
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.hero-image-comps img{
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  padding: 5px;
  width: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  border-right: 1px solid var(--navColor);
  margin: 30px 0;
  font-weight: 100;
}

.grid-item:nth-child(2n) {
  border-right: none;
}

.comps-text {
  color: var(--fontNavColor);
}

.class-container {
  display: flex;
}

.class-minis {
  padding: 0 2px 0 0;
}

.class-minis img {
  width: 50px;
}
/* End of compositions page styles */

/* Dungeons main content style */
.dungeon-image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.dungeon-section {
  display: none;
}
/* Code Credit https://css-tricks.com/a-whole-website-in-a-single-html-file/ */
section:target {
  display: block;
}
/* End of code credit */
/* End of Dungeons main content style */

/* Contact page styles */
.contact-main {
  padding-top: 100px;
}

.hero-image-contact {
  background-image: url("../images/hero-image-contact.jpg");
  background-position: left bottom;
}

.section-form {
  text-align: left;
}

form {
  background-color: var(--navColor);
  opacity: 0.85;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 15px;
  border-radius: 8px;
  height: 10px;
  width: 100%;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 25px;
  border-radius: 8px;
  height: 15px;
  width: 100%;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.button-form {
  appearance: none;
  margin-top: 20px;
  padding: 10px 0;
  border: none;
  background: var(--accentColor);
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

/* End of contact page styles */

/* Footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--footerColor);
}

footer p {
font-size: 16px;
text-align: center;
margin: 0;
color: var(--fontConentColor);
font-family: var(--fontFooter);
}

footer span {
  text-transform: uppercase;
}

footer a {
text-decoration: none;
margin: 0 4px;
color: var(--fontConentColor);
}

footer a:hover {
color: #7289da;
transition: all 0.5s ease;
}

footer a i {
font-size: 24px;
}
/* End of footer styles */

/* Responsive Design */
@media only screen and (min-width: 1600px) {
  .text p {
    font-size: 50px;
  }

  .comps-text {
    margin: 0 3em;
  }
}

@media only screen and (max-height: 745px) {
  .wow-logo {
    max-width: 40%;
  }
}

@media only screen and (max-width: 890px) {
  .Iam {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  main {
    padding-top: 50px;
  }
  
    .navbar {
      height: 50px;
    }
  
    .nav-highlight a {
      border-bottom: none;
    }
    
    .logo-mobile {
      display: block;
    }
  
    .logo-desktop {
      display: none;
    }

    .menu-list {
      display: none;
      position: absolute;
      width: 100%;
      top:100%;
      height: auto;
      text-align: center;
      background-color: var(--navColor);
    }

    .menu-list.show {
      display: block;
    }

    .hamburger {
      display: block;
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 38px;
      color: var(--fontNavColor);
      background-color: transparent;
      border: 0;
    }

    li.menu-item {
      margin: 5px 0;
    }
  
    .hero-image {
      padding-top: 0;
    }
    .home-section-one p {
      font-size: 32px;
      transition: all 0.5s ease;
    }

    /* Compositions page */
    .grid-container {
      grid-template-columns: 100%;
    }
    .grid-item {
      border-right: none;
      border-bottom: 1px solid var(--navColor);
    }
    .grid-item:nth-child(4n) {
      border-bottom: none;
    }

    /* End of compositions page */
/* contact page */
    .hero-image-contact {
      padding-top: 50px;
    }
/* end contact page */
  }
  
  @media only screen and (max-width: 480px) {
    .home-section-one p {
      margin: 25px 10px;
    }

    .wow-logo {
      max-width: 60%;
    }
    
    .Iam {
        font: normal 30px/40px 'Roboto', sans-serif;
        margin: 5em 0;
      }
  
      @keyframes move{
      0%  { top: 0px; }
      12.5% { top: -40px; }
      25% { top: -80px; }
      37.5% { top: -120px; }
      50% { top: -160px; }
      62.5% { top: -200px; }
      75% { top: -240px; }
      87.5% { top: -280px; }
      }
      
      @-webkit-keyframes move {
        0%  { top: 0px; }
        12.5% { top: -40px; }
        25% { top: -80px; }
        37.5% { top: -120px; }
        50% { top: -160px; }
        62.5% { top: -200px; }
        75% { top: -240px; }
        87.5% { top: -280px; }
        }
      @-moz-keyframes move {
        0%  { top: 0px; }
        12.5% { top: -40px; }
        25% { top: -80px; }
        37.5% { top: -120px; }
        50% { top: -160px; }
        62.5% { top: -200px; }
        75% { top: -240px; }
        87.5% { top: -280px; }
        }
      @-o-keyframes move {
        0%  { top: 0px; }
        12.5% { top: -40px; }
        25% { top: -80px; }
        37.5% { top: -120px; }
        50% { top: -160px; }
        62.5% { top: -200px; }
        75% { top: -240px; }
        87.5% { top: -280px; }
        }
      @keyframes move {
        0%  { top: 0px; }
        12.5% { top: -40px; }
        25% { top: -80px; }
        37.5% { top: -120px; }
        50% { top: -160px; }
        62.5% { top: -200px; }
        75% { top: -240px; }
        87.5% { top: -280px; }
        }
  
      .Iam p {
        height: 40px;
        float: left;
        margin-right: 0.3em;
      }
      .Iam b {
        height: 40px;
        top: 30px;
      }
      /* Footer styling */
      footer p span {
        display: none;
      }
      /* End of footer styling */
  }
  
  /* End of mobile design */
